.gcloudignore
.git
.gitignore

.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.vscode/
.idea/

node_modules/

dist/
build/

*.log
*.tmp
*.bak

.env
.env.*

script/
scripts/

tests/
test/

*.md

# păstrează doar datele strict necesare aplicației
# dacă ai mai multe CSV-uri în data/, lasă doar unul
data/*.csv
!data/ndvi_timeseries_csv_multi.csv
